*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 8, 129);
    width: 100%;
    height: 100%;
}

#titulo {
    background-color: white;
    color: rgb(216, 8, 129);
    text-align: center;
}

main {
    background-color: white;
    color: rgb(216, 8, 129);
    text-align: center;
    margin-top: 100%;
    font-size: 100%;
}

header {
    padding: 50px;
}

img {
    width: 40%;
    height: 100%;
}

ul {
    color: white;
    font-size: 100%;
    margin-left: 100%;
    margin-top: 100%;
    background-color: rgb(197, 58, 139);
}

button {
    width: 20%;
    height: 50%;
    margin-top: 80%;
    margin-left: 670%;
    background-color: rgb(197, 58, 139);
    color: white;
    font-size: 20%;
}
